@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
@Scripts.Render("~/bundles/konckout")
    <script type="text/javascript">
        $(document).ready(function() {
            ko.applyBindings(new ProductsViewModel());
        });

    </script>
}
<div class="jumbotron">
    <h1>Items</h1>
    <p>
        <ul id="update-items" data-bind="foreach: items">
            <li>
                <div>
                    <div class="item">Product ID</div> <span data-bind="text: $data.Id"></span>
                </div>
                <div>
                    <div class="item">Title</div>
                    <input type="text" data-bind="value: $data.Title" />
                </div>
                <div>
                    <div class="item">Description</div>
                    <input type="text" data-bind="value: $data.Description" />
                </div>
                <div>
                    <div class="item">RentalPrice ($)</div>
                    <input type="text" data-bind="value: $data.RentalPrice" />
                </div>
                <div>
                    <input type="button" value="Update" data-bind="click: $root.update" />
                    <input type="button" value="Delete Item" data-bind="click: $root.remove" />
                </div>
            </li>
        </ul>

    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>